<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pesquisaAlunoController</servlet-name>
        <servlet-class>controller.PesquisarAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaAvaliacaoController</servlet-name>
        <servlet-class>controller.PesquisarAvaliacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDisciplinaController</servlet-name>
        <servlet-class>controller.PesquisarDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMatriculaController</servlet-name>
        <servlet-class>controller.PesquisarMatriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <servlet-class>controller.PesquisarProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarServidorController</servlet-name>
        <servlet-class>controller.PesquisarServidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <servlet-class>controller.PesquisarTurmaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pesquisaAlunoController</servlet-name>
        <url-pattern>/pesquisaAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaAvaliacaoController</servlet-name>
        <url-pattern>/pesquisaAvaliacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaCursoController</servlet-name>
        <url-pattern>/pesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDisciplinaController</servlet-name>
        <url-pattern>/PesquisaDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMatriculaController</servlet-name>
        <url-pattern>/PesquisaMatriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <url-pattern>/PesquisaProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarServidorController</servlet-name>
        <url-pattern>/PesquisarServidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <url-pattern>/PesquisarTurmaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
