<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <servlet-class>controller.PesquisarAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAvaliacaoController</servlet-name>
        <servlet-class>controller.PesquisarAvaliacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDisciplinaController</servlet-name>
        <servlet-class>controller.PesquisarDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMatriculaController</servlet-name>
        <servlet-class>controller.PesquisarMatriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <servlet-class>controller.PesquisarProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarServidorController</servlet-name>
        <servlet-class>controller.PesquisarServidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <servlet-class>controller.PesquisarTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTurmaController</servlet-name>
        <servlet-class>controller.ManterTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMatriculaController</servlet-name>
        <servlet-class>controller.ManterMatriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProfessorController</servlet-name>
        <servlet-class>controller.ManterProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAvaliacaoController</servlet-name>
        <servlet-class>controller.ManterAvaliacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDisciplinaController</servlet-name>
        <servlet-class>controller.ManterDisciplinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterServidorController</servlet-name>
        <servlet-class>controller.ManterServidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioController</servlet-name>
        <servlet-class>controller.RelatorioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerAluno</servlet-name>
        <servlet-class>controller.RelatorioControllerAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerAvaliacao</servlet-name>
        <servlet-class>controller.RelatorioControllerAvaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerCurso</servlet-name>
        <servlet-class>controller.RelatorioControllerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerDisciplina</servlet-name>
        <servlet-class>controller.RelatorioControllerDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerMatricula</servlet-name>
        <servlet-class>controller.RelatorioControllerMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerProfessor</servlet-name>
        <servlet-class>controller.RelatorioControllerProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerServidor</servlet-name>
        <servlet-class>controller.RelatorioControllerServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerTurma</servlet-name>
        <servlet-class>controller.RelatorioControllerTurma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarAlunoController</servlet-name>
        <url-pattern>/PesquisarAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAvaliacaoController</servlet-name>
        <url-pattern>/PesquisarAvaliacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCursoController</servlet-name>
        <url-pattern>/PesquisarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDisciplinaController</servlet-name>
        <url-pattern>/PesquisarDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMatriculaController</servlet-name>
        <url-pattern>/PesquisarMatriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProfessorController</servlet-name>
        <url-pattern>/PesquisarProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarServidorController</servlet-name>
        <url-pattern>/PesquisarServidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTurmaController</servlet-name>
        <url-pattern>/PesquisarTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTurmaController</servlet-name>
        <url-pattern>/ManterTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMatriculaController</servlet-name>
        <url-pattern>/ManterMatriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProfessorController</servlet-name>
        <url-pattern>/ManterProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAvaliacaoController</servlet-name>
        <url-pattern>/ManterAvaliacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDisciplinaController</servlet-name>
        <url-pattern>/ManterDisciplinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterServidorController</servlet-name>
        <url-pattern>/ManterServidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioController</servlet-name>
        <url-pattern>/RelatorioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerAluno</servlet-name>
        <url-pattern>/RelatorioControllerAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerAvaliacao</servlet-name>
        <url-pattern>/RelatorioControllerAvaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerCurso</servlet-name>
        <url-pattern>/RelatorioControllerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerDisciplina</servlet-name>
        <url-pattern>/RelatorioControllerDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerMatricula</servlet-name>
        <url-pattern>/RelatorioControllerMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerProfessor</servlet-name>
        <url-pattern>/RelatorioControllerProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerServidor</servlet-name>
        <url-pattern>/RelatorioControllerServidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerTurma</servlet-name>
        <url-pattern>/RelatorioControllerTurma</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
